*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

/* navigation bar of the main page*/
nav { 
    height: 80px;
    width: calc(100% - 225px);
    margin-left: 225px;
    background: #004080;
}

label.writing{
    color: white;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold ;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}
nav ul li a{
    padding: 9px 15px;
    border-radius: 2px;
}
a.active, a:hover{
    color: #0c7db1;
    background:white;
}

nav ul li a .icon img{
    width: 40px;
    height: 30px;
    margin-bottom: -10px;
    display: inline-block;
}
nav ul li a .item{
    color: white;
}
/* left-container which includes sidebar  */
.left-container .sidebar .logo{
    margin-bottom: 30px;
    text-align: center;
}

.left-container .sidebar .logo img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.left-container .sidebar{
    background: #004080;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}
.left-container .sidebar ul li a{
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.left-container .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.left-container .sidebar ul li a .icon img{
    width: 25px;
    height: 20px;
    margin-left: 0px;
    display: inline-block;
}


.left-container .sidebar ul li a:hover,
.left-container .sidebar ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.left-container .sidebar ul li a:hover .icon,
.left-container .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.left-container.sidebar ul li a:hover:before,
.left-container .sidebar ul li a.active:before{
    display: block;
}
.left-container .section{
    width: calc(100% - 225px);
    margin-left: 225px;
}
/* announcement part of the main page*/
#announcements { 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 240px);
    margin-left: 230px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#announcements h1{
    text-align: center;
    color: #004080; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.announcement {
    color: #F3F6F4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement p {
    font-size: 16px;
    line-height: 1.6;
    color: #004080 ;
}

/* timeline table of the main page*/
#timeline{ 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 240px);
    margin-left: 230px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

 #timeline h2 {
    color: #004080;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /
}

#timeline table {
    border-collapse: separate;
    border-spacing: 8px;
    width: 100%;
    margin-top: 20px;    
}

#timeline th, #timeline td {
    border: 1px solid #0c7db1; 
    padding: 10px; 
    text-align: left;
    border-radius: 10px;
}

#timeline th {
    color: #004080;
}
#timeline td {
    color: #0d5aa0;
}

/* arrangements to make it responsive*/
@media(max-width: 952px){
    label.writing{
        font-size: 10px;
    }
  
    .left-container .sidebar{
        position: relative;
        width: 100%; 
        height: auto;
        padding: 20px 10px; 
    }

    .left-container .sidebar ul li a{
        padding: 13px 15px;
    }

    .left-container .sidebar .logo img{
        width: 100%;
        height: auto; 
        margin: 0;
    }

    .left-container .section{
        width: 100%; 
        margin-left: 0; 
    }
    nav {
        margin-left: 0;
        width: 100%; 
        height:100%;
    }

    label.writing {
        font-size: 18px; 
        line-height: 50px; 
    }

    nav ul {
        float: none; 
        margin-right: 0; 
        margin-top: 10px; 
    }

    nav ul li {
        display: block;
        line-height: 40px; 
        margin: 0; 
    }

    nav ul li a {
        padding: 9px 15px;
    }

    .left-container .section {
        margin-left: 0;
    }
    nav ul li a .icon img {
        width: 24px; 
        height: 24px; 
        vertical-align: middle; 
    }

    nav ul li a .item {
        vertical-align: middle;
        margin-left: 5px;
        font-size: 14px;
    }
    #announcements,
    #timeline {
        width: 100%;
        margin-left: 0;
    }

    #timeline {
        margin-top: 20px; 
    }

    #announcements,
    #timeline {
        padding: 10px;
    }

    #announcements h1,
    #timeline h2 {
        font-size: 20px; 
    }

    .announcement {
        padding: 10px;
        margin-bottom: 10px;
    }

    #timeline table {
        margin-top: 10px;
    }

    #timeline th,
    #timeline td {
        padding: 8px;
    }
}